################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AlgoniaNodes/DesignTimeBuild
/.vs/AlgoniaNodes/v16/.suo
/.vs/ZenElementsDotNetCore/DesignTimeBuild
/common/.vs/AlgoniaCommon/v16
/common/NetCore/bin
/common/NetCore/obj
/libs/.vs/ZenLibsDotNetCore/v16
/libs/ZenCsScriptCore/bin/Debug
/libs/ZenCsScriptCore/obj
/nodes/ZenAssetReceiver/bin/Debug
/nodes/ZenAssetReceiver/obj
/nodes/ZenAssetTransmitter/bin/Debug
/nodes/ZenAssetTransmitter/obj
/nodes/ZenCsScript/obj
/nodes/ZenDebug/bin/Debug
/nodes/ZenDebug/obj
/nodes/ZenElementActionCaller/bin/Debug
/nodes/ZenElementActionCaller/obj
/nodes/ZenElementsExecuter/bin/Debug
/nodes/ZenElementsExecuter/obj
/nodes/ZenExcelReader/bin/Debug
/nodes/ZenExcelReader/obj
/nodes/ZenGwSystemInfo/bin/Debug
/nodes/ZenGwSystemInfo/obj
/nodes/ZenHttpRequest/bin/Debug
/nodes/ZenHttpRequest/obj
/nodes/ZenLicenceChecker/bin/Debug
/nodes/ZenLicenceChecker/obj
/nodes/ZenMLContext/obj
/nodes/ZenMLDataProcessPipeline/obj
/nodes/ZenMLModelEvaluation/obj
/nodes/ZenMLTextLoader/bin/Debug/netcoreapp2.2
/nodes/ZenMLTextLoader/obj
/nodes/ZenMLTextLoaderSchema/bin/Debug/netcoreapp2.2
/nodes/ZenMLTextLoaderSchema/obj
/nodes/ZenMLTrainingPipeline/obj
/nodes/ZenMySql/bin/Debug
/nodes/ZenMySql/obj
/nodes/ZenObjectDetection/bin/Debug/netcoreapp2.2
/nodes/ZenObjectDetection/obj
/nodes/ZenPropertiesSetter/bin/Debug
/nodes/ZenPropertiesSetter/obj
/nodes/ZenSqlServer/bin/Debug
/nodes/ZenSqlServer/obj
/nodes/ZenString2Json/bin/Debug
/nodes/ZenString2Json/obj
/nodes/ZenWebServer/bin/Debug
/nodes/ZenWebServer/obj
/common/bin
/common/obj
/libs/CsScriptCore/bin/Debug/netcoreapp3.1
/libs/CsScriptCore/obj
/nodes/CsScript/bin/Debug/netcoreapp3.1
/nodes/CsScript/obj
/nodes/Debug/bin/Debug/netcoreapp3.1
/nodes/Debug/obj
/nodes/ElementActionCaller/bin/Debug/netcoreapp3.1
/nodes/ElementActionCaller/obj
/nodes/ElementsExecuter/bin/Debug/netcoreapp3.1
/nodes/ElementsExecuter/obj
/nodes/SqlServer/bin/Debug/netcoreapp3.1
/nodes/SqlServer/obj
/.vs/AlgoniaCsNodes
/implementations/netcoreapp3.1
.DS_Store
.vs/AlgoniaNodes/xs/UserPrefs.xml
